.x-select2 {
    .select2-container {
        .select2-selection {
            background-color: rgb(249 250 251);
            border: 1px solid rgb(209 213 219);
            padding: 10px 2px 9px 2px;
            height: inherit;
            color: #4a5568;
            font-size: 0.875rem;
            border-radius: 0.375rem;
            outline: none;
            .select2-selection__rendered {
                line-height: inherit;
                color: rgb(55 65 81);
            }
            .select2-selection__arrow {
                top: 6px;
                right: 27px;
                b {
                    border: none;
                    background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'%3e %3cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 1 4 4 4-4'/%3e %3c/svg%3e");
                    background-position: right 0.75rem center;
                    background-repeat: no-repeat;
                    background-size: 0.75em 0.75em;
                    padding-right: 2.5rem;
                    -webkit-print-color-adjust: exact;
                    width: 10px;
                    height: 10px;
                }
            }
            &:focus {
                outline: 2px solid transparent;
                outline-offset: 2px;
                --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
                --tw-ring-offset-width: 0px;
                --tw-ring-offset-color: #fff;
                --tw-ring-color: #1C64F2;
                --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
                --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
                box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
                border-color: #1C64F2;
            }
        }
    }
    &.x-select2-error {
        .select2-container {
            .select2-selection {
                border: 1px solid #f05252;
                background-color: #fdf2f2;
                .select2-selection__rendered {
                    color:rgb(119 29 29);
                }
            }
        }
    }

    &.x-select2-multiple {
        .select2-container {
            .select2-selection {
                padding: 1px 1px;
            }
        }
    }
}

.select2-container--default {
    .select2-dropdown {
        .select2-search {
            .select2-search__field {
                &:focus {
                    outline: 2px solid transparent;
                    outline-offset: 2px;
                    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
                    --tw-ring-offset-width: 0px;
                    --tw-ring-offset-color: #fff;
                    --tw-ring-color: #1C64F2;
                    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
                    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
                    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
                    border-color: #1C64F2;
                }
            }
        }
    }
}

// summernote **********************************************************************************************************
.note-editable {
    ul {
        list-style:inherit;
        padding: inherit;
    }

    ol {
        list-style:auto;
        padding: inherit;
    }

    blockquote {
        border: 1px solid #e9ecef;
        padding: 5px;
    }

    h1 {
        font-weight: 700;
        line-height: 1.2;
        font-size: 26px;
    }

    h2 {
        font-weight: 700;
        line-height: 1.2;
        font-size: 24px;
    }

    h3 {
        font-weight: 600;
        line-height: 1.2;
        font-size: 20px;
    }

    h4 {
        font-weight: 600;
        line-height: 1.2;
        font-size: 16px;
    }

    h5 {
        font-weight: 600;
        line-height: 1.2;
        font-size: 15px;
    }

    h6 {
        font-weight: 600;
        line-height: 1.2;
        font-size: 14px;
    }
}

.note-modal-footer {
    height: 70px;
}

.component-btn-default {
    background-color: #3b82f6; // bg-blue-700
    color: #fff; // text-white
    font-size: 14px; // text-sm
    padding: 10px 16px; // px-4
    height: 42px; // h-[42px]
    border-radius: 6px; // rounded-lg
    font-weight: 500; // font-medium
    display: inline-flex; // inline-flex
    align-items: center; // items-center

    &:hover {
        background-color: #1e40af; // hover:bg-blue-800
        cursor:pointer;
    }

    &:focus {
        outline: none; // Видалення фокуса за замовчуванням
        box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5); // focus:ring-4 focus:ring-blue-300
    }
}

.note-dropdown-menu {
    blockquote {
        border: 1px solid #e9ecef;
    }

    h1 {
        font-weight: 700;
        line-height: 1.2;
        font-size: 24px;
        color: #333;
    }

    h2 {
        font-weight: 700;
        line-height: 1.2;
        font-size: 22px;
        color: #333;
    }

    h3 {
        font-weight: 600;
        line-height: 1.2;
        font-size: 20px;
        color: #333;
    }

    h4 {
        font-weight: 600;
        line-height: 1.2;
        font-size: 18px;
        color: #333;
    }

    h5 {
        font-weight: 600;
        line-height: 1.2;
        font-size: 16px;
        color: #333;
    }

    h6 {
        font-weight: 600;
        line-height: 1.2;
        font-size: 14px;
        color: #333;
    }
}

.x-editor {
    &.x-editor-error {
        .note-editor {
            &.note-frame {
                border: 1px solid #c81e1e!important;
            }
        }
    }
}

// input wrapper *******************************************************************************************************
.input-wrapper {
    display: block;

    input {
        width: 100%;
        color: #4a5568;
        border-color: #e2e8f0;
        font-size: 0.875rem;
        border-radius: 0.75rem;
        display: block;
        padding: 0.625rem;

        &:focus {
            border-color: #3b82f6;
            --tw-ring-color: #3b82f6;
        }
    }

    .input-wrapper-inline {
        display: flex;

        label {
            border-right: none;
        }

        input {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &.input-wrapper-icon {
        input {
            padding-left: 30px;
        }
    }

    &.input-wrapper-error {
        input {
            --tw-ring-color: #ef4444;
            background-color: #fef2f2;
            border-width: 1px;
            border-style: solid;
            border-color: #ef4444;
            color: #7f1d1d;

            &::placeholder{
                color: #9b2c2c;
            }

            &:focus {
                border-color: #ef4444;
            }
        }

        .input-wrapper-inline {
            label {
                background-color: #fef2f2;
                border-color: #ef4444;
            }
        }
    }
}

// checkbox wrapper *******************************************************************************************************
.checkbox-wrapper {
    input {
        background-color: #f3f4f6;
        width: 1rem;
        height: 1rem;
        color: #2563eb;
        border-color: #d1d5db;
        border-radius: 0.25rem;

        &:focus {
            border-color: #3b82f6;
            --tw-ring-color: #3b82f6;
        }
    }

    &.checkbox-wrapper-error {
        input {

        }
    }
}

// select wrapper *******************************************************************************************************
.select-wrapper {
    display: block;

    select {
        width: 100%;
        color: #4a5568;
        border-color: #e2e8f0;
        font-size: 0.875rem;
        border-radius: 0.75rem;
        display: block;

        &:focus {
            border-color: #3b82f6;
            --tw-ring-color: #3b82f6;
        }
    }

    .select-wrapper-inline {
        display: flex;

        label {
            border-right: none;
        }

        select {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &.select-wrapper-icon {
        select {
            padding-left: 30px;
        }
    }

    &.select-wrapper-error {
        select {
            --tw-ring-color: #ef4444;
            background-color: #fef2f2;
            border-width: 1px;
            border-style: solid;
            border-color: #ef4444;
            color: #7f1d1d;

            &::placeholder{
                color: #9b2c2c;
            }

            &:focus {
                border-color: #ef4444;
            }
        }

        .select-wrapper-inline {
            label {
                background-color: #fef2f2;
                border-color: #ef4444;
            }
        }
    }
}

// sorting-table
.sorting-table {
    th {
        &.sorting {
            span {
                position: relative;

                &::before {
                    right: -15px;
                    content: "\2191";
                    opacity: 0.5;
                    position: absolute;
                }

                &::after {
                    right: -23px;
                    content: "\2193";
                    opacity: 0.5;
                    position: absolute;
                }
            }

            &.sorting_asc {
                span {
                    &::before {
                        opacity: 1;
                    }
                }
            }

            &.sorting_desc {
                span {
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

// x-select ************************************************************************************************************
.x-select {
    label {
        margin-bottom: 0.5rem;
        display: block;
        white-space: nowrap;
        font-size: 0.875rem;
        font-weight: 500;
        color: #1f2937;
        &.x-select-inline {
            display: flex;
            align-items: center;
            padding: 0.625rem;
            border-style: solid;
            border-width: 1px;
            border-color: #d1d5db;
            border-radius: 0.5rem;
            background-color: #e5e7eb;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            height: 43px;
        }
        &.x-select-error {
            color: #DC2626;
        }
    }

    .x-select-select {
        width: 100%;
        position: relative;

        .x-select-element {
            width: 100%;
            button {
                border: 1px #d1d5db solid;
                text-align: left;
                padding: 10px 25px 10px 10px;
                background-color: #f9fafb;
                width: 100%;
                color: #4a5568;
                font-size: 0.875rem;
                border-radius: 0.75rem;
                display: inline-block;
                position: relative;
                height:43px;
                text-wrap:nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &::after {
                    content:"";
                    background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'%3e %3cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 1 4 4 4-4'/%3e %3c/svg%3e");
                    background-repeat: no-repeat;
                    background-position: center;
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    top: 16px;
                    right: 10px;
                    transition: all .3s;
                }

                &:focus {
                    border-color: #3b82f6;
                    --tw-ring-color: #3b82f6;
                    outline: 1px solid #3b82f6;
                }

                &[aria-expanded="true"] {
                    &::after {
                        transform: rotate(180deg); // Поворот іконки на 180 градусів
                    }
                }

                span {
                    overflow: hidden;
                    max-height: 21px;
                    -webkit-line-clamp: 1;
                    display: box;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    white-space: normal;
                }
            }

            &.x-select-error {
                button {
                    --tw-ring-color: #ef4444;
                    background-color: #fef2f2;
                    border-width: 1px;
                    border-style: solid;
                    border-color: #ef4444;
                    color: #7f1d1d;

                    &::placeholder{
                        color: #9b2c2c;
                    }

                    &:focus {
                        border-color: #ef4444;
                    }
                }
            }
        }
        .x-select-dropdown {
            background-color: white;
            width: 100%;
            z-index: 99999;
            margin-top: 5px;
            border-radius: 0.75rem;
            padding: 10px;
            border-color: #E5E7EB;
            border-style: solid;
            border-width: 0 0 1px 0;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
            position: absolute;

            .x-select-search {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
                input {
                    width: 100%;
                }
            }
            .x-select-list {
                max-height: 250px;
                overflow-y: auto;
                overflow-x: hidden;
                label {
                    display: block;
                    padding: 0.5rem 1rem;
                    margin-bottom: inherit;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &:hover {
                        background-color: #F3F4F6;
                    }

                    &.x-select-selected {
                        background-color: #1c64f2;
                        color: white;
                    }

                    input {
                        display: none;
                    }
                }
            }
        }
    }

    .x-select-inline {
        display: flex;

        label {
            border-right: none;
        }

        button {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    }
}
